.auth {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(270deg, #cef2fa 0%, #59dfef 100%);
  position: static;
}

.auth form {
  width: 600px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
}

.auth h1 {
  color: #fff;
  margin-left: 10px;
  font-weight: 400;
  text-align: center;
}

.auth button {
  margin-top: 20px;
}
